.rps {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

.rps button {
  font-size: 20pt;
  font-weight: 700;
  height: 150px;
  width: 150px;
}

#rockBtn, #paperBtn, #scissorsBtn {
  border-radius: 10%;
}

.reset {
  margin-top: 20px;
}

.reset button {
  height: 30px;
  width: 100px;
}

.tableColumn1 {
  text-align: right;
  margin-right: 20px;
}